<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>

<body>
    <h2>Add Form</h2>
    <form action="#" th:action="@{/add}" th:object="${user}" method="post">
        <div>
            <label for="email">Enter your email: </label>
            <input id="email" type="email" th:field="*{email}"/>
        </div>

        <div>
            <label for="name">Enter your name: </label>
            <input id="name"  type="text" th:field="*{username}"/>
        </div>

        <div>
            <label for="password">Enter your Password: </label>
            <input id="password" type="password" th:field="*{password}"/>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form>
</body>

</html>